<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div th:if="${param.error}">
        Invalid username or password.
    </div>
    <form action="/login" method="post" th:action="@{/login}">
        <p>Username: <input type="text" name="username" /></p>
        <p>Password: <input type="password" name="password" /></p>
        <p>Remember: <input type="checkbox" name="remember-me" /></p>
        <p><input type="submit" value="Login"></p>
    </form>
</body>
</html>